.main-div{
    display:block;
    height: 20em;
    width: 45em;
    position: relative;
    top: 7em;
    left: 20em;
    text-align: center;
}
    /* h1{
    font-size:6em;
    color:(rgb 65, 124, 65)
    
} */
img{
    height:15em;
    width: 30em;
    margin-bottom:-4em;
}
.search-field {
    border-radius: 0.5em;
    width: 40em;
    padding:1em;
    border:0.05em
    }
.search-button, .lucky-button {
    border:0.1em;
     border-radius: 0.7em;
     color: rgb(110, 109, 114);
    margin: 1em 1em;
    width: 10em;
    height: 2.5em;
    padding:0.3em;
    background-color: rgb(241, 240, 240);  
}
.footer{
    font-family: ;
    display: block;
    color: rgb(110, 109, 114);
    position:relative;
    top: 15em;
    bottom:-3em;
    text-align: center;
    width:100%;
}