form{margin:0}

.main-div{
    display:block;
    height: 20em;
    width: 45em;
    position: relative;
    top: 7em;
    left: 20em;
    text-align: center;
}
    h1{
    font-size:6em;
    color:rgb(65, 124, 65);
    
}
.search-field {
    border-radius: 0.5em;
    width: 40em;
    padding:0.7em;
    margin: 0em;
}
.search-button, .lucky-button {
     border-radius: 0.7em;
     display: inline;
    margin: 1em 1em;
    width: 15em;
    padding:0.3em;
    background-color: rgb(241, 240, 240);
   
}